{% extends 'miniblog/base.html' %}
{% load static %}

{% block content %}

<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
    <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe tempore quo aliquam adipisci architecto reiciendis hic beatae dolorem nisi incidunt temporibus ducimus veritatis, quod molestiae neque dicta eligendi error sit quam reprehenderit recusandae culpa ad impedit nesciunt. Veritatis commodi, ullam nemo, dicta quia repudiandae fuga iusto animi magnam quas sequi?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, laborum? Repellat perspiciatis id libero incidunt doloremque temporibus nisi dolores qui iure. Itaque debitis accusantium voluptatum, facere optio reiciendis nostrum, quaerat et repellat impedit est, mollitia earum tempora quae autem quidem?</p>
</div>


{% endblock content %}
